* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug header{
    
    height: 400px;
}

.debug .navigation {
    background-color: red;
    height: 100px;
}

.debug .title{
    width: 35%;
    background-color: blue;
    height: 250px;
}

.debug section {
    background-color: yellow;
    height: 50px;
    display: inline-block;
}

.debug .title-container{
    height: 300px;
    background-color: violet;
}

.logo,.login-area{
    width: 25%;
}

.links{
    width: 50%;
}

.flex-items{
    width: 1170px;
    margin: auto;
    display: flex;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
}

.debug .sections{
    background-color: cornflowerblue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .sections2{
    background-color: rgb(79, 66, 192);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .img{
    width: 60%;
    background-color: cyan;
    height: 300px;
}

.debug .text{
    width: 40%;
    height: 300px;
    background-color: purple;
}

.flex-items2 {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.debug .big-text{
    width: 1170px;
    height: 600px;
    background-color: green;
}

.debug .sections3{
    background-color: rgb(79, 66, 192);
    height: 800px;
    display: flex;
}